:root {
  --clr-primary: rgb(44, 174, 186);
  --clr-primary-dark: rgb(4, 78, 83);
  --clr-primary-light: rgb(136, 235, 242);
  --clr-grey: rgb(36, 58, 82);
  --transition: all 0.3s linear;
  --shadow: 0 5px 15px rgba(0, 0, 0, 1);
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0);
  --radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*---------------------------------------*/
/*-----------------header----------------*/
/*---------------------------------------*/

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--clr-grey);
  text-shadow: var(--shadow);
}
.header-logo {
  color: var(--clr-grey);
  background-color: var(--clr-primary);
}
span {
  color: var(--clr-primary-light);
}

.header-navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-grey);
  padding: 1rem;
}
.nav-link {
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-primary-light);
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: var(--clr-primary-dark);

  padding-left: 0.25rem;
}
.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-hero-bg.jpg") center/cover no-repeat;
  height: 40vh;
  margin-top: 0.25rem;
}

.hero-container,
.work-container {
  position: relative;
}
.hero-title {
  position: absolute;
  top: 350px;
  right: 0;
  background-color: var(--clr-primary-light);
  color: var(--clr-grey);
  padding: 0.25rem;
  margin-right: 1rem;
  border-radius: var(--radius);
}

@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .header-logo {
    border: 15px solid var(--clr-grey);
    border-left: 0;
  }
}

/*---------------------------------------*/
/*----------------about me---------------*/
/*---------------------------------------*/
.section {
  padding: 2rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1400px;
}
.section-title {
  border-bottom: 5px solid var(--clr-grey);
}
.paragraph {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .section-title {
    border-bottom: 0;
    border-right: 5px solid var(--clr-grey);
  }
  .section-article {
    padding-left: 1rem;
  }
  .paragraph {
    margin-top: 0;
  }
}

/*---------------------------------------*/
/*----------------portfolio--------------*/
/*---------------------------------------*/

.work {
  border: 5px solid var(--clr-primary);
  height: 20vh;
  margin: 2rem 0;
}

.work1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-portfolio-1.jpg") center/cover no-repeat;
  transition: var(--transition);
  grid-area: work1;
}
.work2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-portfolio-2.jpg") center/cover no-repeat;
  grid-area: work2;
}
.work3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-portfolio-3.jpg") center/cover no-repeat;
  grid-area: work3;
}
.work4 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-portfolio-4.jpg") center/cover no-repeat;
  grid-area: work4;
}
.work5 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(44, 174, 186, 0.7)),
    url("../images/02-run-buddy.jpg") center/cover no-repeat;
  grid-area: work5;
}

.work1:hover {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/02-portfolio-1.jpg") center/cover no-repeat;
}
.work2:hover {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/02-portfolio-2.jpg") center/cover no-repeat;
}
.work3:hover {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/02-portfolio-3.jpg") center/cover no-repeat;
}
.work4:hover {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/02-portfolio-4.jpg") center/cover no-repeat;
}
.work5:hover {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/02-run-buddy.jpg") center/cover no-repeat;
}

.work-title-big,
.work-title-small {
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: var(--clr-primary);
  color: var(--clr-grey);
  padding: 0.5rem;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

@media screen and (min-width: 768px) {
  .work {
    margin: 0;
  }
  .work-top {
    margin: 0;
  }
  .work1 {
    height: 50vh;
  }

  .section-article {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "work1 work1"
      "work2 work3"
      "work4 work5";
  }
  .work-title-big {
    top: 400px;
  }
  .work-title-small {
    top: 100px;
  }
}

/*---------------------------------------*/
/*----------------contact----------------*/
/*---------------------------------------*/

.footer-navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-grey);
  padding: 1rem;
  color: var(--clr-primary-light);
  border-radius: var(--radius);
  margin: 2rem;
}
